@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PoppinsLight";
    src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: "PoppinsRegular";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "PoppinsSemiBold";
    src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "PoppinsBold";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

.flexJIC{
    @apply flex justify-center items-center
}

.btnBase {
    @apply w-72 flexJIC py-4 px-10 rounded-full text-center text-xl font-medium;
}
.btnBaseFull {
    @apply btnBase mt-5;
}
.btnForm {
    @apply w-44 p-4 bg-slate-500 text-xl text-white rounded-full cursor-pointer;
}
.cardInput {
    @apply w-full h-14 px-3 py-2 text-lg rounded-3xl outline-none shadow-xl font-semibold text-neutral-600;
}
.btnGray {
    @apply btnBaseFull bg-darkerGray text-lightTurquoise hover:bg-darkGray hover:text-lighterTurquoise disabled:bg-darkGrey disabled:text-lightGrey;
}
.btnHeaderGray {
    @apply btnBase -mt-4 hover:bg-darkGray hover:text-lighterTurquoise disabled:bg-darkGrey disabled:text-lightGrey md:mr-6 md:mt-0;
}
.btnHeaderGray-clicked {
    @apply btnBase -mt-4 bg-darkGray text-lighterTurquoise disabled:bg-darkGrey disabled:text-lightGrey md:mr-6 md:mt-0;
}
.btnPurple {
    @apply btnBaseFull bg-lightPurple text-darkerGray hover:bg-lighterPurple hover:text-darkGray disabled:bg-darkGrey disabled:text-lightGrey;
}
.btnTurquoise {
    @apply btnBaseFull bg-lightTurquoise text-darkerGray hover:bg-lighterTurquoise hover:text-darkGray disabled:bg-darkGrey disabled:text-lightGrey;
}
.transition {
  @apply transition-all hover:scale-110 cursor-pointer
}