.card {
    background: linear-gradient(
        145deg,
        rgba(44, 51, 51, 1) 0%,
        rgba(57, 91, 100, 1) 100%
    );
    font-family: "Play", sans-serif;
    //transform: perspective(1000px) rotateX(10deg) rotateY(-20deg) scale3d(1, 1, 1); 
    transform: perspective(1000px) scale3d(1, 1, 1); 
    will-change: transform;
}
.model {
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(304deg) brightness(107%) contrast(101%);
}
.glare {
    background: linear-gradient(
        159deg,
        rgba(127, 127, 127, 1) 17%,
        rgba(57, 91, 100, 0) 100%
    );
}
.shadow {
    will-change: transform;
    filter: blur(40px);
}
